:root{
    --black:#161414;
    --darkgrey:#333333;
    --lightgrey:#DBD9D9;
    --accentgreen:#656552;
    --white:#ffffff;
    --paragraphDesk:1.45rem;
    --maintext: 7.4rem;
    --header:4.765rem;

}

html{
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
margin: 0;
font-family: 'General Sans', sans-serif;
/*background-image: url(/Assets/Images/photo-1532637644947-13094c2745f1.avif);*/
background-color: var(--lightgrey);
color: var(--darkgrey);
font-size: var(--paragraphDesk);
line-height: 1.7rem;

}

.wrapper{
    margin: 50px 24px;

}
.headbar{
    display: flex;
    gap: 9px;
    height: 21vh;
}
.logo .shownlogo{
    color: var(--darkgrey);
    text-decoration: none;

}

.nav{
    margin-left: auto;
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}
ul li{
    display: flex;
    flex-direction: column;
    height: 27.2px;
    overflow: hidden;
}
ul li a{
    color: var(--darkgrey);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;   
}
.hiddentext{
transform: translateY(100%);
}
ul li:hover .hiddentext{
    transform: translateY(-100%);
    color: var(--accentgreen);
    text-decoration: underline;
}
ul li:hover .maintext{
    transform: translateY(-100%);
}

.hero{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
margin-top: -1rem;
z-index: 2;
height: 79vh;
}
.hero_header1{
    font-size: var(--maintext);
    line-height: 199.6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10rem;
    text-transform: uppercase;
}
.hero_header2{
    font-size: var(--maintext);
    line-height: 199.6px;
    margin-top: -5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-left:10rem;
}
.hero_subtext{
    font-size: var(--paragraphDesk);
    margin-top: -2rem;
}
.hero_lower{
    margin-top: -1rem;
    font-size: 1rem;
}
#visual{
    position: absolute;
    transform: translateY(-400px);
    z-index: -2;
    left: 180px;
}
.box{
    height: 100px;
    width: 100px;
    position: fixed;
    border-radius: 50%;
    color: black;
    border: white;

    background-color: #161414;
    margin-left: 85%;
    transition: all 0.3s ease-in-out;
}
.hide{
    left: 500px;
}
.show{
    
}

.wrapper-second{
    
}
.about{

    background-color: var(--darkgrey);
    color: var(--lightgrey);  
}
.aboutheader{
    padding-top: 80px;
    padding-left: 123px;
    font-size: var(--header);
    
}

.about-content{
padding: 20px 123px 80px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 30px;
}
.skills{
    background-color: var(--darkgrey);
    color: var(--lightgrey);

}
.skillsheader{
    padding-top: 80px;
    padding-left: 123px;
    font-size: var(--header);
    margin: 0;
}
.skills-content{
padding: 20px 123px 80px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
gap: 30px;
}
.wholeacc{
    display: flex;
    flex-direction: column;
}
.accordion{
    width: 500px;
    background-color: var(--darkgrey);
    color: var(--lightgrey);
}
.accordion-header{
    display: flex;
    margin: 5px;
    margin-bottom: 0;
    border-bottom: 5px solid var(--lightgrey);
}
.accordion-header button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--lightgrey);
    margin-left: auto;
}
.accordion-content{
background-color: var(--lightgrey);
color: var(--darkgrey);
padding: 10px;
display: none;
}
.projects{
    background-color: var(--darkgrey);
    color: var(--lightgrey);
    height: 100vh;
    
}
.projectsheader{
    padding-top: 80px;
    padding-left: 123px;
    font-size: var(--header);
    margin: 0;
    
}
.project-contents{
    display: grid;
    margin-top: 60px;
    height: 80vh;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
}

.project-info{
    display: flex;
    flex-direction: row;
    
    font-size: 1rem;

    align-items: flex-start;
    gap: 5px;
}
.project-info p{
    margin: 0;
    margin-right: auto;
    margin-top: 5px;
}
.project-info div{
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
    margin-top: 5px;
    padding: 0 4px 0;
    
}
.project-info div:last-child{
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    border: none;
}
.project1{
    grid-row: 2/6;
    grid-column: 2/6;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}
.project-info.item1{
    grid-column: 2 / 6;
    grid-row: 6;
}

.project2{
    grid-row: 2/6;
    grid-column: 8/12;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}
.project-info.item2{
    grid-column: 8 / 12;
    grid-row: 6;
}
.project3{
    grid-row: 7/11;
    grid-column: 2/6;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}
.project-info.item3{
    grid-column: 2 / 6;
    grid-row: 11;
}
.project4{
    grid-row: 7/11;
    grid-column: 8/12;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
}
.project-info.item4{
    grid-column: 8 / 12;
    grid-row: 11;
}
@media only screen and (min-width: 1181px) {
    .wrapper{
        margin: 50px 60px;
    }
  }
  @media only screen and (max-width: 1120px) {
    .wrapper{
        margin: 50px 60px;
    }
    .hero{
        align-items: center;
        margin-bottom: 300px;
        padding: 0;
        height: max-content;
        margin-top: 100px;
    }
    .hero_header1{
        font-size: 3.3rem;
        text-align: center;
        line-height: 3.6864rem;
        margin: 0;
    }
    .hero_header2{
        font-size: 3.3rem;
        text-align: center;
        line-height: 3.6864rem;
        flex-direction: column;
        margin: 0;
    }
    .hero_subtext{
        font-size: 1.3rem;
        text-align: center;
        line-height: 1.5184rem;
        margin: 0;
    }
    .hero_lower{
        font-size: 1rem;
        text-align: center;
        line-height: 1.168rem;
        margin: 0;

    }

  }
  @media only screen and (max-width: 768px) {
    .wrapper{
        margin: 50px 34px;
    }
    .logo{
        height: 50px;
        width: 50px;
    }
    a{
        font-size: 1rem;
        line-height: 1.168rem;
    }
    .hero{
        align-items: flex-start;
        margin-top: 300px;
        margin-bottom: 0;
        padding: 0;
        height: max-content;
    }
    .hero_header1{
        font-size: 2.3rem;
        text-align: left;
        line-height: 2.6864rem;
        margin: 0;
    }
    .hero_header2{
        font-size: 2.3rem;
        text-align: left;
        line-height: 2.336rem;
        flex-direction: column;
        margin: 0;
    }
    .hero_subtext{
        font-size: 1.3rem;
        text-align: left;
        line-height: 1.5184rem;
        margin: 0;
    }
    .hero_lower{
        font-size: 1rem;
        text-align: left;
        line-height: 1.168rem;
        margin: 0;

    }
  }
@media only screen and (max-width: 375px) {
    .wrapper{
        margin: 50px 27px;
    }
    .logo{
        height: 50px;
        width: 50px;
    }
    a{
        font-size: 1rem;
        line-height: 1.168rem;
    }
    .hero{
        align-items: flex-start;
        margin-top: 300px;
        margin-bottom: 0;
        padding: 0;
        height: max-content;
    }
    .hero_header1{
        font-size: 2.3rem;
        text-align: left;
        line-height: 2.6864rem;
        margin: 0;
    }
    .hero_header2{
        font-size: 2.3rem;
        text-align: left;
        line-height: 2.336rem;
        flex-direction: column;
        margin: 0;
    }
    .hero_subtext{
        font-size: 1.3rem;
        text-align: left;
        line-height: 1.5184rem;
        margin: 0;
    }
    .hero_lower{
        font-size: 1rem;
        text-align: left;
        line-height: 1.168rem;
        margin: 0;

    }
  }


 