:root{
    --black:#161414;
    --darkgrey:#333333;
    --lightgrey:#DBD9D9;
    --accentgreen:#656552;
    --white:#ffffff;
    --paragraphDesk:1.456rem;

}

html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
margin: 0;
font-family: 'General Sans', sans-serif;
background-color: var(--darkgrey);
color: var(--lightgrey);
font-size: var(--paragraphDesk);
line-height: 1.7rem;
}

.wrapper{
    margin: 50px 24px;

}
.headlogo{
    margin-top: 8px;
    ;
}
.headbar{
    display: flex;
    gap: 9px;
}

.logotext{
    line-height: 0;
}
.nav{
    margin-left: auto;
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
    
}
ul li{
    display: flex;
    flex-direction: column;
    height: 27.2px;
    overflow: hidden;
}
ul li a{
    color: var(--lightgrey);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;   
}
.hiddentext{
transform: translateY(100%);
}
ul li:hover .hiddentext{
    transform: translateY(-100%);
    color: var(--accentgreen);
    text-decoration: underline;
}
ul li:hover .maintext{
    transform: translateY(-100%);
}


@media only screen and (min-width: 376px) {
    .wrapper{
        margin: 50px 27px;
    }
  }
@media only screen and (min-width: 641px) {
    .wrapper{
        margin: 50px 34px;
    }
  }
@media only screen and (min-width: 1134px ) {
    .wrapper{
        margin: 50px 124px;
    }
  }